<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         stopOnFailure="true"
         cacheResult="false"
         colors="true"
>
    <testsuites>
        <testsuite name="Laravel Essentials Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <server name="REDIS_CLIENT" value="phpredis"/>
    </php>
</phpunit>
